{{#each this}}
<div class="country-box">
    <h2 class="country-box__name">{{name}}</h2>
    <div class="country-box__info">
        <ul class="caption-list">
            <li class="caption-list__item">
                <h3>Capital:</h3>
                <p>{{capital}}</p>
            </li>
            <li class="caption-list__item">
                <h3>Population:</h3>
                <p>{{population}}</p>
            </li>
            <li class="caption-list__item">
                <h3>Languages:</h3>
                <ul class="caption-list__languages">
                    {{#each languages}}
                    <li>
                        <p>{{this.name}}</p>
                    </li>
                    {{/each}}
                </ul>
            </li>
        </ul>

            <img src="{{flag}}" alt="flag of {{name}}" class="country-box__flag" />
    </div>


</div>
{{/each}}

